@tailwind base;
@tailwind components;
@tailwind utilities;



.tab-toggle:checked + .tab{
    background-color: #084d30 !important;
    color: #fff !important;
    border-radius: 0.375rem;
}

@keyframes slideInOut {
    0% {
      transform: translateX(100%);
      opacity: 1;
    }
    20%, 80% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  #notif {
    animation: slideInOut 5s forwards;
  }



